<div class="header" id="mainheader" ng-controller="NavbarController">
	<div class="header-top">
		<div class="container">
			<div class="header-top-in">

				<ul class="support">
					<li ><a href="mailto:ibhukuibanbla@gmail.com" ><i > </i>ibhukuibandla@gmail.com</a></li>
					<li ><span ><i class="tele-in"> </i>+254 702 4329 20</span></li>
				</ul>
				<ul class=" support-right">
				<li ng-hide="signedIn"><a  ui-sref="login" ><i class="men"> </i>Login</a></li>
				<li ng-hide="signedIn"><a  ui-sref="signup" ><i class="tele"> </i>Create an Account</a>

			    <li ng-show="signedIn"><a ui-sref="home" ><i class="men"> </i>{{ user.email }}</a></li>
			    <li ng-show="signedIn"><a ng-click="logout()"><i class="men"> </i>Log Out</a></li>

				</li>

				

				</ul>
				<div class="clearfix"> </div>
			</div>
			</div>
			<div class="header-bottom">
			<div class="container">
				<div class="logo">
					<h1><a ui-sref="home">Ibhuku</a></h1>
				</div>
				<div class="top-nav">
				<!-- start header menu -->
		<ul class="megamenu skyblue">
			<li><a ui-sref="home">Home</a></li>

			<li class="active grid"><a  href="#">Pages</a>
				<div class="megapanel">
					<div class="row">
						<div class="col1">
							<div class="h_nav">
								<h4>SUBMENU1</h4>
								<ul>
									<li><a ui-sref="about">About</a></li>
									<li><a ui-sref="products">men</a></li>
									<li><a ui-sref="products">women</a></li>
									<li><a ui-sref="products">accessories</a></li>

								</ul>
							</div>
						</div>
						<div class="col1">
							<div class="h_nav">
								<h4>SUBMENU2</h4>
								<ul>
									<li><a ui-sref="products">trends</a></li>
									<li><a ui-sref="products">sale</a></li>
									<li><a ui-sref="products">style videos</a></li>
									<li><a ui-sref="products">accessories</a></li>
									<li><a ui-sref="products">kids</a></li>
									<li><a ui-sref="products">style videos</a></li>
								</ul>
							</div>
						</div>
						<div class="col1 col5">
							<!--<iframe src="https://player.vimeo.com/video/10777111?color=ffffff&title=0&byline=0&portrait=0"  webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>-->
						</div>

					</div>

    				</div>
				</li>
		<li ><a  ui-sref="404">Blog</a></li>
				<li><a  href="#">Products</a>
				<div class="megapanel">
					<div class="row">
						<div class=" col-nav">
							<div class="h_nav">
								<h4>BEST SELLING</h4>
								<div class="sell">
									<div class="men">
										<a ui-sref="products"><%= image_tag "pi.jpg" ,:alt=>"" %></a>
									</div>
									<div class="men-in">
										<h6>Lorem Ipsum</h6>
										<span>$.60.00</span>
									</div>
									<div class="clearfix"> </div>
								</div>
								<div class="sell">
									<div class="men">
										<a ui-sref="products"><%= image_tag "pi11.jpg" ,:alt=>"" %></a>
									</div>
									<div class="men-in">
										<h6> Dummy Text</h6>
										<span>$.160.00</span>
									</div>
									<div class="clearfix"> </div>
								</div>
								<div class="sell">
									<div class="men">
										<a ui-sref="products"><%= image_tag "pi12.jpg" ,:alt=>"" %></a>
									</div>
									<div class="men-in">
										<h6>Standard Chunk</h6>
										<span>$.80.00</span>
									</div>
									<div class="clearfix"> </div>
								</div>
							</div>
						</div>
						<div class=" col-nav">
							<div class="h_nav">
								<h4>TOP RATE</h4>
								<div class="sell">
									<div class="men">
									<a ui-sref="products"><%= image_tag "pi13.jpg" ,:alt=>"" %></a>
									</div>
									<div class="men-in">
										<h6> Perspiciatis Und</h6>
										<span>$.90.00</span>
									</div>
									<div class="clearfix"> </div>
								</div>
								<div class="sell">
									<div class="men">
										<a ui-sref="products"><%= image_tag "pi.jpg" ,:alt=>"" %></a>
									</div>
									<div class="men-in">
										<h6>Veritatis Et</h6>
										<span>$.60.00</span>
									</div>
									<div class="clearfix"> </div>
								</div>
								<div class="sell">
									<div class="men">
										<a ui-sref="products"><%= image_tag "pi11.jpg" ,:alt=>"" %></a>
									</div>
									<div class="men-in">
										<h6>Lorem Ipsum</h6>
										<span>$.100.00</span>
									</div>
									<div class="clearfix"> </div>
								</div>
							</div>
						</div>
					</div>
    				</div>
				</li>

				<li><a  ui-sref="contact">Contact</a>

				</li>
		 </ul>
		 <!---->
		 <div class="search-in" >
			<div class="search" >
						<form action="search.html">
							<input type="text" value="Keywords" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Keywords';}" class="text">
							<input type="submit" value="SEARCH">
						</form>

							<div class="close-in"><%= image_tag "close.png" %></div>
					</div>
						<div class="right"><button> </button></div>
				</div>

					<!---->
					<div class="cart box_1">
						<a ui-sref="checkout">
						<h3> <div class="total">
							<span class="simpleCart_total"></span> (<span id="simpleCart_quantity" class="simpleCart_quantity"></span> items)</div>
							<%= image_tag "cart.png" %></h3>
						</a>
						<p><a href="javascript:;" class="simpleCart_empty">Empty Cart</a></p>
						<div class="clearfix"> </div>
					</div>

<div class="clearfix"> </div>
					<!---->
				</div>

			</div>
			<div class="clearfix"> </div>
		</div>
		</div>
 <div id="thebanner" class="banner">

		<div class="banner-top">
	         <h2>THIS IS IBHUKU</h2>
	         <p>All the best books! <span>In your favourite format.</span></p>
</div>

	<div class="now">
	         <a class="morebtn" ui-sref="products">Explore</a>
	         <a class="morebtn at-in" ui-sref="products">Shop Now</a>
	         <div class="clearfix"> </div>
	         </div>
 	</div>

</div>
<script src="<%= path_to_asset("app/scripts/navbar.js") %>"></script>