<% if !flash[:notice].blank? %>
  <div class="alert alert-info">
  <%= flash[:notice] %>
  </div>
<% end %>
<br />
<%= link_to "New Ebook", new_ebook_path, class: "btn btn-primary" %>
<br />
<br />
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Description</th>
      <th>Price</th>
      <th>Download Link</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <% @ebooks.each do |ebook| %>
      <tr>
        <td><%= ebook.title %></td>
        <td><%= ebook.author %></td>
        <td><%= ebook.description%></td>
        <td><%= ebook.price %></td>
        <td><%= ebook.Category.name %></td>
        <td><%= link_to "Download Ebook", ebook.pdf_url %></td>
        <td><%= button_to "Delete",  ebook, method: :delete, class: "btn btn-danger", confirm: "Are you sure that you wish to delete #{ebook.title}?" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
