<% if !@ebook.errors.empty? %>
  <div class="alert alert-error">
    <ul>
      <% @ebook.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="well">
  <%= form_for @ebook, html: { multipart: true } do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %>
    <%= f.label :author %>
    <%= f.text_field :author %>
    <%= f.label :description %>
    <%= f.text_field :description %>
    <%= f.label :price %>
    <%= f.text_field :price %> 
    <%= f.label :pdf %>
    <%= f.file_field :pdf %>
    <%= f.submit "Save", class: "btn btn-primary" %>
  <% end %>
</div>
